/* site-wide UT-ish branding */
body,.dfHelp,.dfHelp code {
  font-family: "Open Sans",Trebuchet,sans-serif;
}
.panel-primary,.panel-collapse>.panel-body{
  border-color: #008c99 !important; }
a,.fa-question-circle { color: #008c99; font-weight: 600;}
a:hover { color: #004067;}
.container-fluid>.row {
  color: #C0511B;
  /*background-color: white;*/
  margin-bottom: 10px;
}

/* header in accordance with UT header styling */
h3 {font-family: "Cardo", "Times New Roman", serif;}

/* The next few are to line up the page header */
#apptitle {
  margin-top: 0;
  padding-top: 5px;
}

#infile_ui>.shiny-input-container {
  margin-top: 2px;
  padding-bottom: 0;
}
#infile_ui input.form-control{
  margin-top: 6px;
}

/* progress bar styling */
#infile_progress { margin: 1px 0; height: 15px;}
#infile_progress>.progress-bar{
  /*background-color: rgb(134, 56, 19);*/
  background-color: #008c99;
  line-height: 15px;
}

#infile_ui>.shiny-input-container { 
  padding-top: 10px;
  margin-bottom: 0; 
}

#debug_button {margin-top: 38px;}

/* upload file field */
#infile_ui .form-control {
  padding-bottom: 6px;
  max-height: 22px;
}
/* end page header */

/* help text */

.dfHelp{
  padding: 0 15px 5px 15px;
}
.dfHelp>h2{
  margin: 0;
  font-size: 2rem;
}
.dfHelp code{
  color:black; 
  font-weight: 600;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  line-height: 9px;
  padding: 2px;
  margin: 1px;
}

.dfHelp p{padding-top: 10px;}

.bigimg {
  display: block;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
  width: 70vw;
}

#customWhichCols,#customWhichFields,#customTrDescGrp,.form-group {
  display: inline-block;
}
#customTrDescGrp{
  display: inline-block;
  width: 80vw;
}
/* end help text */

/* disclaimer button */
.dfDisclaimer>.sa-button-container,.dfDisclaimer>.sa-button-container>button.confirm{
  width:20vw; 
  margin: auto;
} 


/* Make the labels less obnoxious */
label {color: black; font-weight: 400; text-align: justify;}
.tab-pane label { min-width: 80vw ;}

/* make panel headings more compact and UT-ish */
.panel-heading {
  padding-top: 2px; 
  padding-bottom: 2px;
  background-color: #008c99 !important;
}

.panel-heading:hover {background-color: #004067 !important;}

/* To make the available columns scroll inside the page */
#tb_transform{
  overflow-y: scroll;
  min-height: 0;
  height: 70vh;
}


/* The static columns don't need headers */
#tb_transform .panel-default .panel-heading{
  visibility: hidden;
  padding: 0;
  height: 0;
}

/* To distinguish the non-dynamic columns and make them more compact*/
#tb_transform .panel-default .panel-body {
  padding-bottom: 0; padding-top: 0;
  margin-bottom: -1px; margin-top: -1px;
  background-color: whitesmoke;
}

/* compact separators for tb_transform */
.panel-collapse hr {margin: 8px 0 5px 0}


/* Tabs themselves more compact*/
.nav { margin-bottom: 8px;}
ul.nav>li>a {
  padding: 4px 12px 4px 12px;
  line-height: 100%; 
  text-align: center;
}


/* make buttons more compact */
.btn,.dfHelp>div>button {
  padding: 0 6px 0 6px;
  margin-left: 6px;
  margin-top: 5px;
}

/* To line up the selection widgets for available transforms*/
.transform-argsel {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

/* To make the Input Data and Output Preview contents more compact */

/*
Useful classes for later:
.dataTables_processing
.recalculating
*/

.dataTable>tbody>tr>td
,.dataTable>thead>tr>th
{
  line-height: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem !important;
}

.dataTable>thead>tr>th{font-size: 1.1rem;}

.dfDyn{background-color: rgba(0, 140, 153, 0.3) !important;}

td.dfDyn { 
  font-size: 0.9rem;
  font-stretch: ultra-condensed;
}

/* dataTable widgets */
.dataTables_length>label>select{
  padding: 0; 
  height: 1.8em;
}

li.paginate_button>a {
  color: #008c99; 
  padding: 0 0.1em
}

li.paginate_button.active>a {
  background-color: #008c99;
  color: white;
  border-color: #008c99;
}

/* more generic layout */

.tab-pane>hr {margin: 10px}

p,p>a,.dfHelp p,.regulartext,.dfDisclaimer,.regulartext li {
  text-align: justify;
  font-size:  1.2rem;
  font-weight: 100;
  color: black;
  font-stretch: semi-condensed;
}
